name: master Build Matrix

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_ubuntu_20:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: jurplel/install-qt-action@v2
    - name: make
      run: make
  build_ubuntu_18:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - uses: jurplel/install-qt-action@v2
    - name: make
      run: make

  build_windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - uses: jurplel/install-qt-action@v2
      with:
        version: '5.15.0'
        host: 'windows'
        target: 'desktop'
        arch: 'win64_mingw81'
        install-deps: 'true'
    - name: build and deploy
      run: ./build-and-deploy.bat
      working-directory: ./ci/